<head th:fragment="site-head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

	<title>Producto App Distri 2</title>
	<link rel="icon" th:href="@{/images/icono-app.png}">

	<script th:src="@{/js/bootstrap.bundle.js}"></script>

</head>

<header th:fragment="site-header">
	<nav class="navbar navbar-expand-lg " data-bs-theme="dark" style="background-color: rgb(13,155,145);">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/icono-app.png}" width="25" height="25" class="d-inline-block align-text-top">
				Sistema de Control Academico
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Procesos
						</a>
						<ul class="dropdown-menu" data-bs-theme="ligth">
							<li><a class="dropdown-item" th:href="@{/docente/index}">
									Registrar Docente</a></li>
							<li><a class="dropdown-item" th:href="@{/curso/index}">
									Registrar Curso</a></li_>
							<li><a class="dropdown-item" th:href="@{/alumnos/nuevo}">
									Registrar Alumno</a></li>
							<li><a class="dropdown-item" th:href="@{/nota/index}">
									Registrar Notas</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Salir</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Reportes
						</a>
						<ul class="dropdown-menu" data-bs-theme="ligth">
							<li><a class="dropdown-item" th:href="@{/nota/matriculados}">
									Reporte de Matriculados</a></li>
							<li><a class="dropdown-item" th:href="@{/nota/boleta}">
									Boleta de Notas</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" th:href="@{/nota/cuadromeritos}">
									Cuadro de Meritos</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>