<head th:fragment="site-head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

	<title>Producto App Distri 2</title>
	<link rel="icon" th:href="@{/images/icono-app.png}">

	<script th:src="@{/js/bootstrap.bundle.js}"></script>

</head>

<header th:fragment="site-header">
	<nav class="navbar navbar-expand-lg " data-bs-theme="dark" style="background-color: rgb(13,155,145);">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/icono-app.png}" width="65" height="25" class="d-inline-block align-text-top">
				Sistema de Control Academico
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<a class="nav-item nav-link" th:href="@{/}">Home</a>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Listado
						</a>
						<ul class="dropdown-menu" data-bs-theme="ligth">
							<li><a class="dropdown-item" th:href="@{/alumnos/listar}">
									Lista de Alumnos</a></li>
							<li><a class="dropdown-item" th:href="@{/asignaturas/listar}">
									Lista de Asignaturas</a></li>
							<li><a class="dropdown-item" th:href="@{/docentes/listar}">
									Lista de Docentes</a></li>
							<li><a class="dropdown-item" th:href="@{/cursos/listar}">
									Lista de Cursos</a></li>
							<li><a class="dropdown-item" th:href="@{/notas/listar}">
									Lista de Notas</a></li>
							<li><a class="dropdown-item" th:href="@{/niveles/listar}">
									Lista de Niveles</a></li>
							<li><a class="dropdown-item" th:href="@{/periodos/listar}">
									Lista de periodos</a></li>
							<li><a class="dropdown-item" th:href="@{/pagos/listar}">
									Lista de Pagos</a></li>
							<li><a class="dropdown-item" th:href="@{/matriculas/listar}">
									Lista de Matriculas</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Procesos
						</a>
						<ul class="dropdown-menu" data-bs-theme="ligth">
							<li><a class="dropdown-item" th:href="@{/docentes/nuevo}">
									Registrar Docentes</a></li>
							<li><a class="dropdown-item" th:href="@{/cursos/nuevo}">
									Registrar Cursos</a></li>
							<li><a class="dropdown-item" th:href="@{/alumnos/nuevo}">
									Registrar Alumnos</a></li>
							<li><a class="dropdown-item" th:href="@{/notas/nuevo}">
									Registrar Notas</a></li>
							<li><a class="dropdown-item" th:href="@{/asignaturas/nuevo}">
									Registrar Asignaturas</a></li>
							<li><a class="dropdown-item" th:href="@{/niveles/nuevo}">
									Registrar Niveles</a></li>
							<li><a class="dropdown-item" th:href="@{/periodos/nuevo}">
									Registrar periodos</a></li>
							<li><a class="dropdown-item" th:href="@{/pagos/nuevo}">
									Registrar Pagos</a></li>
							<li><a class="dropdown-item" th:href="@{/matriculas/nuevo}">
									Registrar Matriculas</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Salir</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Reportes
						</a>
						<ul class="dropdown-menu" data-bs-theme="ligth">
							<li><a class="dropdown-item" th:href="@{/notas/matriculados}">
									Reporte de Matriculados</a></li>
							<li><a class="dropdown-item" th:href="@{/notas/boleta}">
									Boleta de Notas</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" th:href="@{/notas/cuadromeritos}">
									Cuadro de Meritos</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="me-auto">
				<div sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post" id="logoutForm">
						<p class="text-white align-middle m-0">
							<strong sec:authentication="name">Usuario</strong>
							<small sec:authentication="principal.authorities">Roles</small> |
							<button type="submit" class="btn btn-link btn-sm text-white p-0">
								Cerrar Sesión
							</button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</nav>
</header>