<html>

<head th:replace="~{_frag/Base::site-head}"></head>

<body>
	<header th:replace="~{_frag/Base::site-header}"></header>
	<article class="container mt-3">
		<H3>Lista de Cursos</H3>
		<div class="mb-3">
			<th:block th:replace="~{_frag/Inputs::btn_agregar(
				@{/cursos/nuevo}, 'Agregar Curso')}"></th:block>
			<th:block th:replace="~{_frag/Inputs::btn_cerrar}"></th:block>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-bordered mt-2">
				<thead class="table-dark">
					<th>ID</th>
					<th>Nombre</th>
					<th>Nivel</th>
					<th>Editar</th>
					<th>Eliminar</th>

				</thead>
				<tbody>
					<tr th:each="curso : ${cursos}">
						<td th:text="${curso.id}">ID</td>
						<td th:text="${curso.nombre}">nombre</td>
						<td th:text="${curso.nivel.nombre}">creditos</td>
						<td>
							<th:block th:replace="~{_frag/Inputs::btn_editar(
								@{/cursos/editar/} + ${curso.id})}"></th:block>
						</td>
						<td>
							<th:block th:replace="~{_frag/Inputs::btn_eliminar(
								@{/cursos/eliminar/} + ${curso.id})}"></th:block>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<th:block th:replace="~{_frag/Inputs::btn_agregar(
					@{/cursos/nuevo}, 'Agregar Curso')}"></th:block>
			<th:block th:replace="~{_frag/Inputs::btn_cerrar}"></th:block>
		</div>
	</article>
</body>

</html>