<html>

<head th:replace="~{_frag/Base::site-head}"></head>

<body>
    <header th:replace="~{_frag/Base::site-header}"></header>
    <article class="container mt-3 p-0">
        <div class="text-center bg-light p-5 rounded">
            <img th:src="@{/images/icono-app.png}" class="img img-fluid mx-auto " height="200" width="600">
            <h1 class="mt-4 pt-4 text-succes">Producto App Distri 2</h1>
            <p class="lead">
                Sistema de Control Academico

            </p>
        </div>
    </article>
</body>

</html>